html, body {
    height: 100%;
    width: 100%;
  }
  
  h1 {
    color: pink;
    font-size: 70px;
    text-shadow: -1mm 1mm 0 white;
  }

  body {
      text-align: center;
      background-color: aqua;
  }
